header {
	background: 
		linear-gradient($link-color, #5e92eb, #14e5eb);
	box-sizing: border-box;
	height: 20em;
	margin-bottom: 4em;
	overflow: hidden;
	padding-top: 8.5em;
	width: 100%;

	h1 {
		color: white;
		display: block;
		text-align: center;
	}
}

section {
	// border-bottom: 1px solid #ccc;
	padding: 0 5% 3em 5%;
	margin-bottom: 3.5em;

	&:nth-of-type(4), &:last-of-type {
		padding-bottom: 0;
		margin-bottom: 2em;
	}

	.information {
		margin-bottom: 2em;
	}
}

#header-overlap {
		margin: -10em auto 2em auto;
	}

.mockup {
	display: block;
	max-width: 10em;
	margin: 2em auto;
}

.icons, .divider {
	max-width: 90%;
}

.carousel {
	width: 100%;
	height: 20em;
	margin-bottom: none;
	overflow: hidden;

	.rotImg {
		width: 100%;
	}

	#carousel1 {
		background: url('../images/cycling01lg.jpg');
		background-size: cover;
		background-position: center 100%;
	}

	#carousel2 {
		background: url('../images/cycling02lg.jpg');
		background-size: cover;
		background-position: center 100%;
	}

	#carousel3 {
		background: url('../images/cycling03lg.jpg');
		background-size: cover;
		background-position: center 100%;
	}

	#carousel4 {
		background: url('../images/cycling04lg.jpg');
		background-size: cover;
		background-position: center 100%;
	}

	#carousel5 {
		background: url('../images/cycling05lg.jpg');
		background-size: cover;
		background-position: center 100%;
	}
}

footer {
	background: $link-color;
	color: white;
	padding: 1em;

	p {
		margin-bottom: 1em;
	}

	.email-input {
		
		margin: 0 auto 1em auto;
		text-align: center;

		input[type="text"] {
			background: none;
			color: white;
			font-family: 'museo-sans-rounded', sans-serif;
			font-size: 1.5em;
			font-weight: 700;
			margin-bottom: .5em;
			padding: 2px;
			border: none;
			border-bottom: solid .2em white;
			transition: border 0.3s;
			width:100%;

			&::-webkit-input-placeholder {
			   color: tint($link-color, 50%);
			}

			&:-moz-placeholder { /* Firefox 18- */
			   color: $ph-color;  
			}

			&::-moz-placeholder {  /* Firefox 19+ */
			   color: $ph-color;  
			}

			&:-ms-input-placeholder {  
			   color: $ph-color;
			}

		}

		input[type="text"]:focus, {
		  	border-bottom: solid .2em #ddd;
		}

		button {
			display: inline-block;
			font-weight: 700;
			font-size: 1.5em;
			border-box: box-sizing;
			text-align: center;
			transition: color .3s;

			&:hover {
				color: $hover-color;
			}
		}
	}

	span {
		display: block;
		text-align: center;
	}
}


// hidden on load

.hidden-mob {
	display: none;
}